In [1]:
# Imported required libraries for API requests and data handling
# =============================================================================
# requests: For making HTTP requests to the CoinGecko API
# os: For accessing environment variables
# dotenv: For loading API key from .env file securely
# pandas: For data manipulation and DataFrame operations

import requests as rq
import os
from dotenv import load_dotenv
import pandas as pd

In [2]:
# Fetched Bitcoin price data from CoinGecko API for specified date range

# Defined date range for Bitcoin price data (August to December 2025)
begin_date = "2025-08-01" 
end_date = "2025-12-31"

# Built API endpoint URL for historical Bitcoin price data
# vs_currency=usd returns prices in US dollars
url = f"https://api.coingecko.com/api/v3/coins/bitcoin/market_chart/range?vs_currency=usd&from={begin_date}&to={end_date}"

# Loaded API key from .env file for authentication
load_dotenv()
headers = {"x-cg-api-key": os.getenv('API_KEY') }

# Made GET request to CoinGecko API
response = rq.get(url, headers=headers)

# Displayed raw JSON response to verify successful data retrieval
print(response.text)

{"prices":[[1754006400000,115700.00243915782],[1754092800000,113234.6051343189],[1754179200000,112554.90232221723],[1754265600000,114199.10966460757],[1754352000000,115138.68613070177],[1754438400000,114128.35408881678],[1754524800000,115022.09576830892],[1754611200000,117463.47451085235],[1754697600000,116688.36663186055],[1754784000000,116510.08393213755],[1754870400000,119266.92516880555],[1754956800000,118773.79960860992],[1755043200000,120202.53485503166],[1755129600000,123560.99363577305],[1755216000000,118405.59579823953],[1755302400000,117339.79190213277],[1755388800000,117501.21653394958],[1755475200000,117542.83687778088],[1755561600000,116256.41276740946],[1755648000000,112778.34483555844],[1755734400000,114252.39755195397],[1755820800000,112414.39987336512],[1755907200000,116834.24948202295],[1755993600000,115359.98346714744],[1756080000000,113399.54847314971],[1756166400000,110185.35443900425],[1756252800000,111842.70999260596],[1756339200000,111216.08479629169],[1756425600000,112525.59740669793],[1756512000000,108480.30666639366],[1756598400000,108781.95727925687],[1756684800000,108253.36092385623],[1756771200000,109162.68557992298],[1756857600000,111190.18209845416],[1756944000000,111711.51977725117],[1757030400000,110724.736377486],[1757116800000,110662.18112628513],[1757203200000,110209.1888247784],[1757289600000,111131.9923868407],[1757376000000,112025.12878118771],[1757462400000,111547.43956434788],[1757548800000,113975.32489468766],[1757635200000,115503.16663193036],[1757721600000,116160.14344594491],[1757808000000,115970.58488443034],[1757894400000,115373.55555886829],[1757980800000,115397.25272727509],[1758067200000,116762.8496864193],[1758153600000,116455.94648225319],[1758240000000,117145.49508952006],[1758326400000,115655.81046441344],[1758412800000,115715.51536781774],[1758499200000,115304.47999407038],[1758585600000,112696.74101711863],[1758672000000,112022.16587861195],[1758758400000,113320.56908541008],[1758844800000,108963.53013595635],[1758931200000,109710.20874667744],[1759017600000,109654.81021075726],[1759104000000,112142.57362752674],[1759190400000,114309.15041119447],[1759276800000,114024.22783550054],[1759363200000,118503.24451752483],[1759449600000,120611.71911591051],[1759536000000,122250.15186842803],[1759622400000,122380.93708463266],[1759708800000,123506.18520027678],[1759795200000,124773.50823074432],[1759881600000,121518.75593575071],[1759968000000,123352.50487523204],[1760054400000,121698.03066778315],[1760140800000,113201.74064138904],[1760227200000,110853.11663883903],[1760313600000,115189.5714637257],[1760400000000,115222.28302116522],[1760486400000,113156.56943826913],[1760572800000,110708.66960879423],[1760659200000,108076.72862033188],[1760745600000,106443.61194984635],[1760832000000,107156.00337647724],[1760918400000,108621.134857428],[1761004800000,110608.5714932665],[1761091200000,108486.10262716639],[1761177600000,107618.4266715404],[1761264000000,110048.51827291629],[1761350400000,110997.80437129698],[1761436800000,111620.3093731354],[1761523200000,114476.01227508577],[1761609600000,114182.79442806762],[1761696000000,112950.34863259472],[1761782400000,110046.66925837283],[1761868800000,108240.76528725718],[1761955200000,109573.90555629115],[1762041600000,110014.13556776087],[1762128000000,110650.2092823146],[1762214400000,106521.08673825761],[1762300800000,101635.2740227234],[1762387200000,103877.95965955159],[1762473600000,101322.6402945857],[1762560000000,103396.084215925],[1762646400000,102290.13714655167],[1762732800000,104709.67861656273],[1762819200000,105909.07272321742],[1762905600000,102960.77564500563],[1762992000000,101521.70859453593],[1763078400000,99730.4533956204],[1763164800000,94456.39368235337],[1763251200000,95508.31019889197],[1763337600000,94411.32947182967],[1763424000000,92036.7255045672],[1763510400000,92819.75921500899],[1763596800000,91363.27838693369],[1763683200000,86649.97257918229],[1763769600000,85051.8019295002],[1763856000000,84682.62429147748],[1763942400000,86783.84766839583],[1764028800000,88229.35740719768],[1764115200000,87310.33159950442],[1764201600000,90474.22677969698],[1764288000000,91279.06057176423],[1764374400000,90950.37695910994],[1764460800000,90841.45258193677],[1764547200000,90406.28448571145],[1764633600000,86281.49519776918],[1764720000000,91344.73275150165],[1764806400000,93619.43750817103],[1764892800000,92140.70419795791],[1764979200000,89307.09154512963],[1765065600000,89244.7620814118],[1765152000000,90162.90714007126],[1765238400000,90618.0535204608],[1765324800000,92723.21372069631],[1765411200000,92005.13714957413],[1765497600000,92494.17691640415],[1765584000000,90307.26028567803],[1765670400000,90257.4292885891],[1765756800000,88230.77409367911],[1765843200000,86413.9190195637],[1765929600000,87821.88919109134],[1766016000000,86064.94716216],[1766102400000,85450.3312009302],[1766188800000,88103.86075721023],[1766275200000,88347.94310567998],[1766361600000,88577.42038358838],[1766448000000,88491.12020788102],[1766534400000,87406.43636737975],[1766620800000,87642.60888119951],[1766707200000,87229.78066010943],[1766793600000,87305.95655961394],[1766880000000,87807.003210775],[1766966400000,87822.90829076794],[1767052800000,87156.56266080117],[1767139200000,88414.62856073362]],"market_caps":[[1754006400000,2302199162425.1206],[1754092800000,2253609880959.403],[1754179200000,2240413983638.112],[1754265600000,2272802075267.0376],[1754352000000,2292395156144.1514],[1754438400000,2271583255077.356],[1754524800000,2289295036528.6577],[1754611200000,2337732858703.5435],[1754697600000,2323026541073.3213],[1754784000000,2318815857401.68],[1754870400000,2374097296837.8896],[1754956800000,2364060561672.9995],[1755043200000,2392854421745.6157],[1755129600000,2458895200752.567],[1755216000000,2360043737045.272],[1755302400000,2335290383260.173],[1755388800000,2339465736068.208],[1755475200000,2340648324181.828],[1755561600000,2313556987528.4634],[1755648000000,2245419916215.7417],[1755734400000,2274471285844.184],[1755820800000,2238121481749.57],[1755907200000,2326174803320.612],[1755993600000,2296786080139.701],[1756080000000,2259663171125.389],[1756166400000,2194453712375.598],[1756252800000,2227025695775.593],[1756339200000,2215255294289.9937],[1756425600000,2239422945686.892],[1756512000000,2160278651486.2852],[1756598400000,2166165747945.1812],[1756684800000,2155694976689.5986],[1756771200000,2174100506466.4321],[1756857600000,2212595221503.454],[1756944000000,2225365905592.233],[1757030400000,2204051936301.3257],[1757116800000,2204045604630.5625],[1757203200000,2195288669199.568],[1757289600000,2213764479139.3647],[1757376000000,2231763512226.867],[1757462400000,2222026777598.0474],[1757548800000,2270241314652.7144],[1757635200000,2299764311655.674],[1757721600000,2314347371939.946],[1757808000000,2310166037871.29],[1757894400000,2297459118244.424],[1757980800000,2297977599504.5527],[1758067200000,2325326932460.9644],[1758153600000,2321583680138.891],[1758240000000,2333705338232.097],[1758326400000,2303469041668.8],[1758412800000,2305371926506.302],[1758499200000,2297332085237.645],[1758585600000,2245929069310.8535],[1758672000000,2232693472656.6514],[1758758400000,2257741194218.8286],[1758844800000,2171950311711.4429],[1758931200000,2185866776171.5464],[1759017600000,2185203231301.0562],[1759104000000,2235798877396.134],[1759190400000,2278362523594.3135],[1759276800000,2272137555069.4507],[1759363200000,2359569556068.08],[1759449600000,2399524207991.5527],[1759536000000,2436956902844.7153],[1759622400000,2438832157552.7866],[1759708800000,2461221856764.1885],[1759795200000,2486073086655.2866],[1759881600000,2421938444026.2783],[1759968000000,2459003621170.118],[1760054400000,2423288659157.484],[1760140800000,2265659827789.9917],[1760227200000,2211404015103.109],[1760313600000,2294724465036.9785],[1760400000000,2296863527017.9863],[1760486400000,2257545230986.0146],[1760572800000,2207742082237.0483],[1760659200000,2154964541836.455],[1760745600000,2123017949517.1426],[1760832000000,2135575517405.9185],[1760918400000,2165367850075.0042],[1761004800000,2205571381112.93],[1761091200000,2162410619417.9114],[1761177600000,2145773248654.6448],[1761264000000,2193901841033.9053],[1761350400000,2213306367536.756],[1761436800000,2224861052775.0015],[1761523200000,2283691326423.212],[1761609600000,2276235094681.6714],[1761696000000,2254003248725.4917],[1761782400000,2194746293754.542],[1761868800000,2157803742876.0747],[1761955200000,2185193896779.3408],[1762041600000,2194075979770.0623],[1762128000000,2201849942058.28],[1762214400000,2123664079961.7026],[1762300800000,2026091188341.184],[1762387200000,2073000557933.8025],[1762473600000,2019147576692.263],[1762560000000,2063021740892.1375],[1762646400000,2039995976869.1492],[1762732800000,2086419359800.0503],[1762819200000,2112747067951.9028],[1762905600000,2053215927640.825],[1762992000000,2025837265459.7573],[1763078400000,1996168972711.9963],[1763164800000,1891799949910.1116],[1763251200000,1905234340631.9912],[1763337600000,1883240679702.7427],[1763424000000,1835458818945.8962],[1763510400000,1851234710246.605],[1763596800000,1820062799702.324],[1763683200000,1731258563683.1287],[1763769600000,1697723941246.0479],[1763856000000,1690556523055.809],[1763942400000,1732233225777.4016],[1764028800000,1761564072532.238],[1764115200000,1742162762885.542],[1764201600000,1806439309544.997],[1764288000000,1821778517479.9226],[1764374400000,1814919896425.4082],[1764460800000,1812771321410.9438],[1764547200000,1807818977105.3909],[1764633600000,1723547230444.7913],[1764720000000,1824843161126.1372],[1764806400000,1868050658597.6572],[1764892800000,1839369557445.9072],[1764979200000,1782798987370.1692],[1765065600000,1781194798199.8435],[1765152000000,1799656690088.5503],[1765238400000,1808394676576.639],[1765324800000,1852116289106.247],[1765411200000,1837321739746.956],[1765497600000,1848922166365.7808],[1765584000000,1803244893514.8884],[1765670400000,1801496999571.6902],[1765756800000,1761380944797.1238],[1765843200000,1724624039059.303],[1765929600000,1751373602587.6565],[1766016000000,1718491930388.8372],[1766102400000,1704341132953.6216],[1766188800000,1759398134896.644],[1766275200000,1762805314679.9844],[1766361600000,1768920028841.514],[1766448000000,1767081210842.8062],[1766534400000,1745209464473.6252],[1766620800000,1749379166231.2852],[1766707200000,1741491085115.601],[1766793600000,1743187621561.159],[1766880000000,1753375412209.345],[1766966400000,1753595375313.038],[1767052800000,1739794323451.9631],[1767139200000,1765833387995.6162]],"total_volumes":[[1754006400000,45238249453.35885],[1754092800000,65794680822.25255],[1754179200000,33543439044.09785],[1754265600000,24689273719.085533],[1754352000000,32488023582.82734],[1754438400000,37316213251.97167],[1754524800000,32052509631.058872],[1754611200000,38289687095.00489],[1754697600000,33017415812.97353],[1754784000000,27638785406.21056],[1754870400000,37157754754.85189],[1754956800000,61739781527.95854],[1755043200000,46941089789.57991],[1755129600000,61818118105.53991],[1755216000000,73822008367.99681],[1755302400000,44268714220.021],[1755388800000,23202714236.542347],[1755475200000,20906566026.645443],[1755561600000,47337926940.98573],[1755648000000,46156885037.403885],[1755734400000,42166369117.006935],[1755820800000,32048202090.65466],[1755907200000,50878158870.82928],[1755993600000,27306719885.257973],[1756080000000,40682656776.69001],[1756166400000,52854872363.936554],[1756252800000,43023800053.0546],[1756339200000,36957904262.995804],[1756425600000,34222495087.206894],[1756512000000,51702115726.38959],[1756598400000,27799981330.792213],[1756684800000,26140904019.246822],[1756771200000,42999610648.39302],[1756857600000,50235464642.845955],[1756944000000,36406080683.42747],[1757030400000,38708366685.43147],[1757116800000,56020470627.40665],[1757203200000,19340758702.076332],[1757289600000,22147049159.335133],[1757376000000,37159847899.8603],[1757462400000,45338021458.38368],[1757548800000,52205187155.05567],[1757635200000,43752917632.95067],[1757721600000,51192951485.864395],[1757808000000,30063858747.76022],[1757894400000,26889399414.610912],[1757980800000,46947581231.08198],[1758067200000,39964451595.099724],[1758153600000,54740952295.37868],[1758240000000,43642467075.25838],[1758326400000,34296721252.33001],[1758412800000,18774953731.290394],[1758499200000,18659113982.495464],[1758585600000,69152342029.46799],[1758672000000,46154878824.043465],[1758758400000,46677543220.334526],[1758844800000,74481796351.47305],[1758931200000,55257214020.568245],[1759017600000,23294896964.31016],[1759104000000,31274654338.51212],[1759190400000,57833295882.65785],[1759276800000,57718901820.70616],[1759363200000,69920179085.4708],[1759449600000,71252850672.75252],[1759536000000,83155430408.51796],[1759622400000,35161626561.80918],[1759708800000,72011486031.26575],[1759795200000,69605991064.72382],[1759881600000,76087884719.80028],[1759968000000,62576032795.36722],[1760054400000,72097306668.91356],[1760140800000,151002213089.8765],[1760227200000,108643865752.17674],[1760313600000,93857100744.12454],[1760400000000,68935270367.04033],[1760486400000,91211854988.91518],[1760572800000,68877328886.40259],[1760659200000,84773160808.27399],[1760745600000,94325236794.78163],[1760832000000,34412835719.61292],[1760918400000,45373692612.394394],[1761004800000,60452111148.140076],[1761091200000,105841401713.00197],[1761177600000,83996418125.93103],[1761264000000,56192643013.57058],[1761350400000,49120903424.344864],[1761436800000,23214874411.212166],[1761523200000,42483268634.18711],[1761609600000,63764801510.65889],[1761696000000,66299512352.17796],[1761782400000,64235327509.05742],[1761868800000,72648897659.94229],[1761955200000,58800487940.5146],[1762041600000,24938475577.849922],[1762128000000,35098774843.7742],[1762214400000,75068433317.86293],[1762300800000,108965721650.60309],[1762387200000,77083907216.62631],[1762473600000,64118217249.57436],[1762560000000,93627003785.31018],[1762646400000,51095924202.31797],[1762732800000,59952468437.71812],[1762819200000,67546556819.52642],[1762905600000,71008299178.73956],[1762992000000,63332414142.58827],[1763078400000,100463341916.4732],[1763164800000,113198323665.38873],[1763251200000,39062120798.23745],[1763337600000,72645149972.7847],[1763424000000,95794596045.06412],[1763510400000,103837258806.01602],[1763596800000,82897875507.45229],[1763683200000,99171039191.1295],[1763769600000,135093457122.46469],[1763856000000,42644968955.2184],[1763942400000,60446592409.29218],[1764028800000,77606296173.43544],[1764115200000,67956444142.18749],[1764201600000,69690430587.90018],[1764288000000,59295194347.668594],[1764374400000,62833195066.53989],[1764460800000,39253888201.69327],[1764547200000,40334819409.843475],[1764633600000,92988982967.24597],[1764720000000,83138039128.81346],[1764806400000,81429135004.88295],[1764892800000,67878296355.02588],[1764979200000,50193142876.74388],[1765065600000,24818678152.49986],[1765152000000,33912893266.90874],[1765238400000,45466493941.40448],[1765324800000,54575121853.64529],[1765411200000,52189659395.756485],[1765497600000,53232377699.408394],[1765584000000,67750393558.62937],[1765670400000,35222775785.402145],[1765756800000,33808538697.042442],[1765843200000,50630498834.055145],[1765929600000,48317754254.70281],[1766016000000,48886793507.656334],[1766102400000,58649139178.511856],[1766188800000,51932451056.500565],[1766275200000,17103607834.780054],[1766361600000,22541294542.323105],[1766448000000,41948947368.210236],[1766534400000,46353794741.509995],[1766620800000,29100645180.040016],[1766707200000,22773603342.32636],[1766793600000,47130449135.786705],[1766880000000,15670944599.660688],[1766966400000,17428479525.19913],[1767052800000,53957962807.988785],[1767139200000,39734225800.079216]]}

In [3]:
# Parsed JSON response and extracted price data

# Converted JSON string response into Python dictionary
data = response.json()

# Extracted only price data (ignoring market_caps and total_volumes arrays)
prices = data['prices']

# Defined column names for DataFrame creation
header_row = ['timestamp', 'price']

In [4]:
# Created DataFrame from extracted price data

# Converted list of [timestamp, price] pairs into structured DataFrame
df_2 = pd.DataFrame(prices, columns=header_row)
df_2

         timestamp          price
0    1754006400000  115700.002439
1    1754092800000  113234.605134
2    1754179200000  112554.902322
3    1754265600000  114199.109665
4    1754352000000  115138.686131
..             ...            ...
148  1766793600000   87305.956560
149  1766880000000   87807.003211
150  1766966400000   87822.908291
151  1767052800000   87156.562661
152  1767139200000   88414.628561

[153 rows x 2 columns]

In [5]:
# Transformed timestamp column into separate date and time columns

# Converted Unix timestamp (in milliseconds) to readable datetime objects
# unit='ms' specifies that timestamp is in milliseconds
df_2['timestamp'] = pd.to_datetime(df_2['timestamp'], unit='ms')

# Split timestamp into separate date and time columns for flexibility
df_2['date'] = df_2['timestamp'].dt.date
df_2['time'] = df_2['timestamp'].dt.time

# Dropped the original timestamp column (no longer needed)
df_2 = df_2.drop('timestamp', axis=1)

# Reordered columns to: date, time, price
df_2 = df_2[['date', 'time', 'price']]
df_2

           date      time          price
0    2025-08-01  00:00:00  115700.002439
1    2025-08-02  00:00:00  113234.605134
2    2025-08-03  00:00:00  112554.902322
3    2025-08-04  00:00:00  114199.109665
4    2025-08-05  00:00:00  115138.686131
..          ...       ...            ...
148  2025-12-27  00:00:00   87305.956560
149  2025-12-28  00:00:00   87807.003211
150  2025-12-29  00:00:00   87822.908291
151  2025-12-30  00:00:00   87156.562661
152  2025-12-31  00:00:00   88414.628561

[153 rows x 3 columns]

In [6]:
# Loaded historical cryptocurrency data from CSV file

# Read pre-existing dataset containing top 100 cryptos with network information
df_1 = pd.read_csv('data/top_100_cryptos_with_correct_network.csv')
df_1

         symbol        date      open      high       low     close   network
0       BTCUSDT  2018-08-01  7735.670  7750.000  7430.000  7604.580   Bitcoin
1       BTCUSDT  2018-08-02  7600.080  7709.460  7455.720  7525.710   Bitcoin
2       BTCUSDT  2018-08-03  7525.710  7540.000  7282.440  7418.780   Bitcoin
3       BTCUSDT  2018-08-04  7412.270  7494.810  6926.000  7009.840   Bitcoin
4       BTCUSDT  2018-08-05  7009.840  7089.870  6882.290  7024.190   Bitcoin
...         ...         ...       ...       ...       ...       ...       ...
211674  UMAUSDT  2025-08-01     1.242     1.251     1.162     1.202  Ethereum
211675  UMAUSDT  2025-08-02     1.202     1.216     1.147     1.172  Ethereum
211676  UMAUSDT  2025-08-03     1.175     1.210     1.158     1.207  Ethereum
211677  UMAUSDT  2025-08-04     1.206     1.247     1.201     1.242  Ethereum
211678  UMAUSDT  2025-08-05     1.243     1.245     1.204     1.234  Ethereum

[211679 rows x 7 columns]

In [7]:
# Calculated average daily price from OHLC data

# Computed mean of open, high, low, close prices for each row
# axis=1 calculates mean across columns (horizontally)
df_1['avg_price'] = df_1[['open', 'high', 'low', 'close']].mean(axis=1)
df_1['avg_price']

0         7630.06250
1         7572.74250
2         7441.73250
3         7210.73000
4         7001.54750
             ...
211674       1.21425
211675       1.18425
211676       1.18750
211677       1.22400
211678       1.23150
Name: avg_price, Length: 211679, dtype: float64

In [8]:
# Selected only relevant columns for analysis

# Kept symbol, date, and calculated average price columns
df_1 = df_1[['symbol', 'date', 'avg_price']]
df_1

         symbol        date   avg_price
0       BTCUSDT  2018-08-01  7630.06250
1       BTCUSDT  2018-08-02  7572.74250
2       BTCUSDT  2018-08-03  7441.73250
3       BTCUSDT  2018-08-04  7210.73000
4       BTCUSDT  2018-08-05  7001.54750
...         ...         ...         ...
211674  UMAUSDT  2025-08-01     1.21425
211675  UMAUSDT  2025-08-02     1.18425
211676  UMAUSDT  2025-08-03     1.18750
211677  UMAUSDT  2025-08-04     1.22400
211678  UMAUSDT  2025-08-05     1.23150

[211679 rows x 3 columns]

In [9]:
# Filtered data to keep only Bitcoin (BTCUSDT) records

# Kept only rows where symbol equals 'BTCUSDT' (Bitcoin against Tether)
df_1 = df_1[df_1['symbol'] == 'BTCUSDT']
df_1

       symbol        date    avg_price
0     BTCUSDT  2018-08-01    7630.0625
1     BTCUSDT  2018-08-02    7572.7425
2     BTCUSDT  2018-08-03    7441.7325
3     BTCUSDT  2018-08-04    7210.7300
4     BTCUSDT  2018-08-05    7001.5475
...       ...         ...          ...
2557  BTCUSDT  2025-08-01  114459.1450
2558  BTCUSDT  2025-08-02  112977.6900
2559  BTCUSDT  2025-08-03  113368.7800
2560  BTCUSDT  2025-08-04  114772.8600
2561  BTCUSDT  2025-08-05  114714.1400

[2562 rows x 3 columns]

In [10]:
# Cleaned and prepared both DataFrames for merging

# Dropped 'symbol' column (no longer needed after filtering)
df_1 = df_1.drop(columns=['symbol'], axis=1)

# Removed 2018 data (incomplete year in the dataset)
# .astype(str).str[:4] converts date to string and extracts year (first 4 chars)
df_1 = df_1[df_1['date'].astype(str).str[:4] != '2018']

# Dropped 'time' column from API data (only need daily averages)
df_2 = df_2.drop(columns=['time'], axis=1)

print(df_1.head())
print(df_2.head())

           date  avg_price
153  2019-01-01  3737.6325
154  2019-01-02  3821.9000
155  2019-01-03  3804.2725
156  2019-01-04  3771.6050
157  2019-01-05  3788.2600
         date          price
0  2025-08-01  115700.002439
1  2025-08-02  113234.605134
2  2025-08-03  112554.902322
3  2025-08-04  114199.109665
4  2025-08-05  115138.686131

In [11]:
# Renamed columns for consistency before merging

# Standardized price column names to 'avg_daily_price' in both DataFrames
df_2 = df_2.rename(columns={'price': 'avg_daily_price'})
df_1 = df_1.rename(columns={'avg_price': 'avg_daily_price'})

print(df_1.head())
print(df_2.head())

           date  avg_daily_price
153  2019-01-01        3737.6325
154  2019-01-02        3821.9000
155  2019-01-03        3804.2725
156  2019-01-04        3771.6050
157  2019-01-05        3788.2600
         date  avg_daily_price
0  2025-08-01    115700.002439
1  2025-08-02    113234.605134
2  2025-08-03    112554.902322
3  2025-08-04    114199.109665
4  2025-08-05    115138.686131

In [12]:
# Combined both DataFrames into a single dataset

# Concatenated historical data (df_1) with new API data (df_2)
# ignore_index=True resets index to sequential numbers
combined_df = pd.concat([df_1, df_2], ignore_index=True)

print(combined_df.head())
# Checked for missing values in the combined dataset
print(combined_df.isna().sum())
# Displayed total rows and columns
print(combined_df.shape)

         date  avg_daily_price
0  2019-01-01        3737.6325
1  2019-01-02        3821.9000
2  2019-01-03        3804.2725
3  2019-01-04        3771.6050
4  2019-01-05        3788.2600
date               0
avg_daily_price    0
dtype: int64
(2562, 2)

In [13]:
# Saved combined Bitcoin price data to CSV file

# Created 'data' directory if it doesn't exist
os.makedirs('data', exist_ok=True)

# Defined output filename
filename = "data/price_of_bitcoin_from_2018_to_2025.csv"

# Attempted to save DataFrame to CSV with error handling
# index=False prevents writing row numbers to the file
try:
    combined_df.to_csv(filename, index=False)
    print(f"Data saved to '{filename}' successfully.")
except Exception as e:
    print(f"{e} was encountered while saving data to: '{filename}'.")

Data saved to 'data/price_of_bitcoin_from_2018_to_2025.csv' successfully.